<h1>All Schools</h1>

<% @schools.each do |school| %>
  <h3><a href="/schools/<%= school.id%>"><%= school.name%></a> Created at: <%= school.created_at %></h3>
<% end %>
  <a href="/schools/new">New School</a>